@let product_status = productStatus();
@let market_status = marketStatus();
@let price = calculatedPrice();
@let order_type = orderType();
@let metal_item_config = config();

@if (market_status == 'active' && product_status && price && metal_item_config) {
  <button (click)="openModal()"
       [ngClass]="order_type == 'buy' ? 'bg-emerald-100 text-emerald-900' : 'bg-red-100 text-red-900'"
       class="cursor-pointer w-full select-none rounded px-1 text-center text-sm font-medium py-2.5 lg:text-base">
    @if (metal_item_config.display_mode == 'quotation') {
      @if (order_type == 'buy') {
        {{ price | ceil | number }}
      } @else {
        {{ price | floor | number }}
      }
    } @else {
      @if (order_type == 'buy') {
        {{ price / AppConstants.MARKET_SPECIFIC_CONVERSION_FACTOR | ceil | number }}
      } @else {
        {{ price / AppConstants.MARKET_SPECIFIC_CONVERSION_FACTOR | floor | number }}
      }
    }
    <span class="text-[8px] lg:text-xs">تومان</span>
  </button>
} @else if (market_status == 'inactive' && product_status && price) {
  <button
    [ngClass]="order_type == 'buy' ? 'bg-emerald-50 text-emerald-300' : 'bg-red-50 text-red-300'"
    class="cursor-pointer w-full select-none rounded px-1 text-center text-sm font-medium py-2.5 lg:text-base">
    @if (metal_item_config.display_mode == 'quotation') {
      @if (order_type == 'buy') {
        {{ price | ceil | number }}
      } @else {
        {{ price | floor | number }}
      }
    } @else {
      @if (order_type == 'buy') {
        {{ price / AppConstants.MARKET_SPECIFIC_CONVERSION_FACTOR | ceil | number }}
      } @else {
        {{ price / AppConstants.MARKET_SPECIFIC_CONVERSION_FACTOR | floor | number }}
      }
    }
    <span class="text-[8px] lg:text-xs">تومان</span>
  </button>
} @else {
  <div
    [ngClass]="order_type == 'buy' ? 'bg-emerald-50 text-emerald-300' : 'bg-red-50 text-red-300'"
    class="cursor-pointer select-none rounded px-1 text-center text-sm font-medium py-2.5 lg:text-base">
    -
  </div>
}
