@if (order) {
  <div class="border border-gray-300 dark:border-gray-600 border-r-8 rounded p-4 space-y-4"
       [ngClass]="order.order_type == 'buy'? 'border-r-emerald-500':'border-r-red-500'">
    <div class="flex justify-between gap-4">
      <span
        class="px-2 rounded bg-slate-100 text-slate-800 text-xs lg:text-sm font-medium whitespace-nowrap">#{{ order.tracking_code }}</span>
      <span class="px-2 rounded bg-slate-100 text-slate-800 text-xs lg:text-sm font-medium whitespace-nowrap"
            dir="ltr">{{ order.created_at | jalali: 'YYYY/MM/DD HH:mm:ss' }}</span>
    </div>

    <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
      <div class="lg:flex-1 space-y-4">
        <div class="text-sm">
          @switch (order.order_type) {
            @case ('buy') {
              <div class="text-emerald-800">
                خرید

                @if (order.frozen == 'cash') {
                  <span class="font-medium inline">{{ order.product.amount | number }} تومان</span>
                } @else if (order.frozen == 'metal') {
                  <span class="font-medium">{{ order.product.quantity | withoutTrailingZeros }}</span>
                  {{ order.product.unit }}
                }

                {{ order.product.name }}

                @if (order.frozen == 'cash') {
                  معادل
                  <span class="font-medium">{{ order.product.quantity | withoutTrailingZeros }}</span>
                  {{ order.product.unit }}
                } @else if (order.frozen == 'metal') {
                  معادل
                  <span class="font-medium inline">{{ order.product.amount | number }} تومان</span>
                }

                @if (order.product.display_mode == 'quotation') {
                  با مظنه
                  <span class="font-medium">{{ order.product.fee | number }}</span> تومان
                } @else {
                  با نرخ هر {{ order.product.unit }}
                  <span class="font-medium">
                    {{ order.product.fee / AppConstants.MARKET_SPECIFIC_CONVERSION_FACTOR | ceil | number }}
                  </span> تومان
                }

                @switch (order.status) {
                  @case ('pending') {
                    ثبت شد.
                  }
                  @case ('succeed') {
                    با موفقیت انجام شد.
                  }
                  @case ('rejected') {
                    انجام نشد.
                  }
                }
              </div>
            }
            @case ('sell') {
              <div class="text-red-800">
                فروش

                @if (order.frozen == 'cash') {
                  <span class="font-medium inline">{{ order.product.amount | number }} تومان</span>
                } @else if (order.frozen == 'metal') {
                  <span class="font-medium">{{ order.product.quantity | withoutTrailingZeros }}</span>
                  {{ order.product.unit }}
                }

                {{ order.product.name }}

                @if (order.frozen == 'cash') {
                  معادل
                  <span class="font-medium">{{ order.product.quantity | withoutTrailingZeros }}</span>
                  {{ order.product.unit }}
                } @else if (order.frozen == 'metal') {
                  معادل
                  <span class="font-medium inline">{{ order.product.amount | number }} تومان</span>
                }

                @if (order.product.display_mode == 'quotation') {
                  با مظنه
                  <span class="font-medium">{{ order.product.fee | number }}</span> تومان
                } @else {
                  با نرخ هر {{ order.product.unit }}
                  <span class="font-medium">
                    {{ order.product.fee / AppConstants.MARKET_SPECIFIC_CONVERSION_FACTOR | floor | number }}
                  </span> تومان
                }

                @switch (order.status) {
                  @case ('pending') {
                    ثبت شد.
                  }
                  @case ('succeed') {
                    با موفقیت انجام شد.
                  }
                  @case ('rejected') {
                    انجام نشد.
                  }
                }
              </div>
            }
          }
        </div>
      </div>

      <div [ngClass]="{'lg:flex-1' : order.status == 'pending'}">
        @switch (order.status) {
          @case ('pending') {
            <div class="text-md space-y-2">

              <div class="flex justify-between items-center">
                <div
                  class="px-2 flex items-center gap-1 py-0.5 bg-gray-100 text-gray-900 text-sm rounded-full whitespace-nowrap">
                  <span class="w-2 h-2 bg-gray-500 animate-pulse rounded-full"></span>
                  <span>در حال بررسی</span>
                </div>
                @if (currentRemainingTime > 0) {
                  <div class="text-sm text-gray-700">{{ currentRemainingTime }} ثانیه</div>
                }
              </div>

              <div>
                <app-progress-bar
                  [expirationTime]="expirationTime"
                  [createdTime]="order.created_at"
                  [now]="now"
                  (progressUpdate)="onProgressUpdate($event)"
                  progressColor="bg-emerald-500"
                  #progressBar
                ></app-progress-bar>
              </div>

            </div>
          }
          @case ('succeed') {
            <div class="flex justify-end">
              <span class="bg-emerald-50 text-emerald-800 px-2.5 py-1 rounded whitespace-nowrap text-sm">تایید شد</span>
            </div>
          }
          @case ('rejected') {
            @if (order.message) {
              <div class="flex justify-end">
                <span class="inline-flex bg-red-50 text-red-800 px-2.5 py-1 rounded text-sm">سفارش شما به علت {{ order.message }} رد شد</span>
              </div>
            } @else {
              <div class="flex justify-end">
                <span class="inline-flex bg-red-50 text-red-800 px-2.5 py-1 rounded text-sm">سفارش شما رد شد</span>
              </div>
            }
          }
        }
      </div>
    </div>

  </div>
}
