@if (isBalanceSufficient) {
  <div class="mb-4 text-sm px-4 py-2.5 bg-sky-50 text-sky-800 rounded">  هزینه انجام هر استعلام از سامانه شاهکار مبلغ {{ fee | number }} تومان می‌باشد</div>
}
@else {
<div class="mb-4 text-sm px-4 py-2.5 bg-yellow-50 text-yellow-800 rounded">  هزینه انجام هر استعلام از سامانه شاهکار مبلغ {{ fee | number }} تومان می‌باشد و موجودی حساب شما برای این استعلام کافی نمی‌باشد</div>
}

<form [formGroup]="form" class="space-y-4">

  <div class="grid gap-4 lg:grid-cols-3">
    <div class="lg:col-span-3">
      <label for="national_code" class="sr-only">کد ملی</label>
      <input [formControl]="national_code"
        mask="0000000000"
        [inputTransformFn]="p2e"
        placeholder="کد ملی را وارد کنید"
        type="text"
        id="national_code"
        class="bg-transparent border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <!--      <p *ngIf="utilityService.hasError(national_code)" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">اوه!</span> {{utilityService.getErrorMessage(national_code)}}!</p>-->
      </div>
    </div>

    <div class="grid gap-4 lg:grid-cols-3">
      <div class="lg:col-span-3">
        <label for="national_code" class="sr-only">شماره تلفن</label>
        <input [formControl]="phone"
          prefix="0"
          mask="0000000000"
          [inputTransformFn]="p2e"
          placeholder="شماره تلفن را وارد کنید"
          type="text"
          id="phone"
          class="bg-transparent border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <!--      <p *ngIf="utilityService.hasError(phone)" class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">اوه!</span> {{utilityService.getErrorMessage(phone)}}!</p>-->
        </div>
      </div>

      <div class="flex justify-end">
        @if (form.invalid || Number(balance) < Number(fee)) {
          <button class="w-full lg:max-w-72 bg-emerald-500/25 text-white px-6 rounded py-2 flex justify-center items-center">
            <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.22754 6.625L4.54727 10L13.3999 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="mr-2.5">استعلام</span>
          </button>
        } @else {
          <app-button-with-loader (clicked)="inquiry()"
            [loading]="loading"
            [disabled]="loading"
            type="submit" class="relative w-full lg:max-w-72" classes="bg-emerald-500 text-white px-6 rounded w-full py-2">
            <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.22754 6.625L4.54727 10L13.3999 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="mr-2.5">استعلام</span>
          </app-button-with-loader>
        }
      </div>

      @if (inquiryResponse) {
        <div>
          <div>
            @switch (inquiryResponse.code) {
              @case ('valid') {
                <div>
                  <div class="mb-4">نتیجه استعلام</div>
                  <div class="flex justify-between items-center p-4 bg-gray-100 rounded">
                    <div class="text-sm">وضعیت تطابق</div>
                    <div class="text-xs bg-emerald-400 p-2 rounded">تطابق</div>
                  </div>
                </div>
              }
              @case ('not_valid') {
                <div>
                  <div class="mb-4">نتیجه استعلام</div>
                  <div class="flex justify-between items-center p-4 bg-gray-100 rounded">
                    <div class="text-sm">وضعیت تطابق</div>
                    <div class="text-xs bg-yellow-400 p-2 rounded">عدم تطابق</div>
                  </div>
                </div>
              }
              @case ('daily_limit_reached') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">محدودیت روزانه استعلام</div>
              }
              @case ('providers_not_available') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">سرویس دهنده در دسترسی نیست</div>
              }
              @case ('handler_not_found') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">سازوکاری یافت نشد</div>
              }
              @case ('server_error') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">خطای سرویس دهنده</div>
              }
              @case ('invalid_request_body') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">بدنه درخواست خالی و یا نامعتبر</div>
              }
              @case ('forbidden') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">عدم دسترسی به سرویس</div>
              }
              @case ('national_code_not_valid') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">کد ملی نامعتبر</div>
              }
              @case ('mobile_number_not_valid') {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">شماره تلفن نامعتبر</div>
              }
              @default {
                <div class="p-4 bg-yellow-300 rounded text-yellow-600">خطای نامشخص</div>
              }
            }
          </div>
        </div>
      }
    </form>
