<div class="space-y-4">
  @let client = user();

  <div class="rounded-lg bg-white p-4 border border-gray-200 space-y-4">

    @if (client) {
      <h2>تنظیمات</h2>

      <div class="border border-gray-300 dark:border-gray-600 rounded flex justify-between items-center px-4 py-2.5">
        <label class="text-xs lg:text-sm font-medium text-gray-700">دریافت پیامک باز شدن بازار</label>
        <app-custom-checkbox
          [(value)]="client.market_opening_notification"
          (onChanged)="update(client.market_opening_notification, 'market_opening_notification')"
        ></app-custom-checkbox>
      </div>
    }

    @if (isLoading()) {
      <div class="loading">در حال بارگذاری...</div>
    }
  </div>
</div>
