<div class="space-y-4">
  @let client = user();

  <div class="rounded bg-white p-4 shadow space-y-4">

    @if (client) {
      <h2>تنظیمات رمز عبور</h2>

      @if (client.has_pass) {
        <div>
          <p class="text-sm">امکان ورود با رمز عبور برای حساب کاربری شما فعال می‌باشد.</p>
          <p class="text-sm">برای تغییر رمز عبور خود، رمز عبور جدید را وارد کنید.</p>
        </div>
      } @else {
        <div>
          <p class="text-sm">حساب کاربری شما فاقد رمز عبور می‌باشد.</p>
          <p class="text-sm">برای فعال شدن امکان ورود با رمز عبور لطفا رمز عبور خود را ایجاد نمایید.</p>
        </div>
      }

      <form [formGroup]="changePasswordForm" class="space-y-4">

<!--        @if (client.has_pass) {-->
<!--          <div>-->
<!--            <label for="current-password" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">-->
<!--              رمز فعلی-->
<!--            </label>-->
<!--            <input type="password" id="current-password" formControlName="currentPassword"-->
<!--                   autocomplete="current-password" dir="ltr"-->
<!--                   class="w-full border border-gray-300 dark:border-gray-600 bg-transparent px-4 rounded text-sm text-gray-900 py-2.5 focus:ring-0">-->

<!--            @if (changePasswordForm.controls.currentPassword.touched) {-->
<!--              @if (changePasswordForm.controls.currentPassword.hasError('server')) {-->
<!--                <p class="mt-1 text-xs text-red-500">{{ changePasswordForm.controls.currentPassword.getError('server') }}</p>-->
<!--              }-->
<!--            }-->
<!--          </div>-->
<!--        }-->

        <!-- رمز جدید -->
        <div>
          <label for="new-password" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">
            رمز عبور جدید <span class="text-red-500">*</span>
          </label>
          <input type="password" id="new-password"
                 formControlName="newPassword"
                 autocomplete="new-password" dir="ltr"
                 class="w-full border border-gray-300 dark:border-gray-600 bg-transparent px-4 rounded text-sm text-gray-900 py-2.5 focus:ring-0">
          @if (changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.errors; as errors) {
            <p class="mt-1 text-xs text-red-500">
              @if (errors['required']) { وارد کردن رمز جدید الزامی است. }
              @else if (errors['minlength']) { رمز جدید باید حداقل ۸ کاراکتر باشد. }
              @else if (errors['same']) { رمز جدید نباید با رمز فعلی یکسان باشد. }
            </p>
          }
        </div>

        <!-- تکرار رمز جدید -->
        <div>
          <label for="confirm-password" class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-300">
            تکرار رمز عبور <span class="text-red-500">*</span>
          </label>
          <input type="password" id="confirm-password" formControlName="confirmPassword"
                 autocomplete="new-password" dir="ltr"
                 class="w-full border border-gray-300 dark:border-gray-600 bg-transparent px-4 rounded text-sm text-gray-900 py-2.5 focus:ring-0">
          @if (changePasswordForm.controls.confirmPassword.touched) {
            @if (changePasswordForm.controls.confirmPassword.hasError('required')) {
              <p class="mt-1 text-xs text-red-500">تکرار رمز جدید الزامی است.</p>
            } @else if (changePasswordForm.hasError('passwordMismatch')) {
              <p class="mt-1 text-xs text-red-500">رمز جدید و تکرار آن یکسان نیستند.</p>
            }
          }
        </div>

        <!-- خطای سرور -->
        @if (changePasswordError) {
          <div class="rounded-sm bg-red-50 p-3 text-sm text-red-600 dark:bg-red-900/20 dark:text-red-400">
            {{ changePasswordError }}
          </div>
        }
      </form>
      <!-- Modal footer -->
      <div class="w-full lg:max-w-48">
        <app-button-with-loader (clicked)="onSubmitChangePassword()"
                                [loading]="changePasswordLoading"
                                [disabled]="changePasswordLoading"
                                type="submit"
                                class="relative block" classes="bg-green-500 text-white py-2 rounded w-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
          <span class="mr-2">ذخیره رمز عبور</span>
        </app-button-with-loader>
      </div>
    }

    @if (isLoading()) {
      <div class="loading">در حال بارگذاری...</div>
    }
  </div>

  <div class="rounded bg-white p-4 shadow space-y-4">

    @if (client) {
      <h2>تنظیمات عمومی</h2>

      <div class="border border-gray-300 dark:border-gray-600 rounded flex justify-between items-center px-4 py-2.5">
        <label class="text-xs lg:text-sm font-medium text-gray-700">نمایش تجمیعی ته حساب آبشده</label>
        <app-custom-checkbox
          [(value)]="client.aggregated_view_of_invoices"
          (onChanged)="update(client.aggregated_view_of_invoices, 'aggregated_view_of_invoices')"
        ></app-custom-checkbox>
      </div>

      <div class="border border-gray-300 dark:border-gray-600 rounded flex justify-between items-center px-4 py-2.5">
        <label class="text-xs lg:text-sm font-medium text-gray-700">دریافت پیامک باز شدن بازار</label>
        <app-custom-checkbox
          [(value)]="client.market_opening_notification"
          (onChanged)="update(client.market_opening_notification, 'market_opening_notification')"
        ></app-custom-checkbox>
      </div>
    }

    @if (isLoading()) {
      <div class="loading">در حال بارگذاری...</div>
    }
  </div>
</div>
