<div class="mx-auto flex min-h-screen flex-col justify-between max-w-screen">
  <div>
    <app-header></app-header>
    <main class="px-4 mb-6">

      <div class="lg:flex gap-4 lg:mx-auto lg:px-4 xl:max-w-screen-2xl">
        <div class="mb-4 hidden min-w-72 w-72 px-4 lg:mb-0 lg:block lg:px-0">
          <app-sidebar></app-sidebar>
        </div>
        <div class="flex-1">
          <router-outlet></router-outlet>
        </div>
      </div>

    </main>
  </div>

  <app-footer></app-footer>
</div>
