<div class="border border-gray-200 rounded-lg bg-white p-4">
  @if (initialized()) {
    <div class="flex gap-4 items-center mb-8">
      <div class="size-10 flex items-center justify-center bg-rose-50 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="size-5">
          <path class="fill-rose-500" d="M21.225,17.889c-0.406-0.238-0.905-0.233-1.309,0.007l-2.046,1.219c-0.458,0.273-1.03,0.241-1.45-0.087 c-0.726-0.567-1.895-1.521-2.912-2.538c-1.017-1.017-1.971-2.186-2.538-2.912c-0.328-0.42-0.36-0.992-0.087-1.45l1.219-2.046 c0.241-0.404,0.243-0.907,0.005-1.313L9.105,3.641c-0.291-0.496-0.869-0.74-1.428-0.603C7.134,3.17,6.429,3.492,5.69,4.232 c-2.314,2.314-3.543,6.217,5.159,14.919s12.604,7.474,14.919,5.159c0.741-0.741,1.062-1.447,1.195-1.991 c0.135-0.558-0.105-1.132-0.6-1.422C25.127,20.174,22.461,18.613,21.225,17.889z"/>
        </svg>
      </div>
      <div>
        <div class="text-base text-gray-700 font-medium">انتخاب شماره تماس</div>
        <div class="text-xs text-gray-400">شماره مورد نظر خود را انتخاب کنید</div>
      </div>
    </div>
    <div class="space-y-4">
      @for (contact of contacts(); track contact.id) {
        <a href="tel:{{ contact.phone }}" class="flex justify-between items-center text-sm border border-gray-200 rounded-lg px-4 py-2.5">

          <div class="flex items-center gap-2">
            <div class="bg-sky-50 size-12 rounded-lg flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 -32 1088 1088" class="size-5 fill-sky-700"><g transform="translate(0, 960) scale(1, -1)"><path d="M498.729 938.667c156.113 0 282.667-126.554 282.667-282.667s-126.554-282.667-282.667-282.667c-156.113 0-282.667 126.554-282.667 282.667v0c0.181 156.040 126.627 282.487 282.65 282.667h0.017zM498.729 418.704c131.055 0 237.295 106.241 237.295 237.295s-106.241 237.295-237.295 237.295c-131.055 0-237.295-106.241-237.295-237.295v0c0.155-130.992 106.303-237.141 237.281-237.295h0.015zM952.811-85.333l-16.788 93.103c-39.276 208.711-220.126 364.495-437.362 364.495-216.976 0-397.654-155.412-436.789-360.993l-0.44-2.776-16.788-92.922-44.646 8.076 16.788 93.013c43.512 229.737 242.685 401.134 481.889 401.134 0.019 0 0.037 0 0.056 0h-0.003c239.424-0.068 438.709-171.836 481.42-398.862l0.476-3.043 16.833-93.194z"/></g></svg>
            </div>

            <div>
              <div class="font-medium">{{ contact.name }}</div>
              <div class="text-sm text-gray-600 hover:text-gray-900">{{ contact.phone }}</div>
            </div>
          </div>

          <div class="bg-rose-50 size-7 flex items-center justify-center rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="size-4">
              <path class="fill-rose-500" d="M21.225,17.889c-0.406-0.238-0.905-0.233-1.309,0.007l-2.046,1.219c-0.458,0.273-1.03,0.241-1.45-0.087 c-0.726-0.567-1.895-1.521-2.912-2.538c-1.017-1.017-1.971-2.186-2.538-2.912c-0.328-0.42-0.36-0.992-0.087-1.45l1.219-2.046 c0.241-0.404,0.243-0.907,0.005-1.313L9.105,3.641c-0.291-0.496-0.869-0.74-1.428-0.603C7.134,3.17,6.429,3.492,5.69,4.232 c-2.314,2.314-3.543,6.217,5.159,14.919s12.604,7.474,14.919,5.159c0.741-0.741,1.062-1.447,1.195-1.991 c0.135-0.558-0.105-1.132-0.6-1.422C25.127,20.174,22.461,18.613,21.225,17.889z"/>
            </svg>
          </div>
        </a>
      }
    </div>
  } @else {
    <div class="flex gap-4 items-center mb-8">
      <div class="size-10 bg-gray-200 animate-pulse rounded-full"></div>
      <div>
        <div class="h-4 w-28 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
        <div class="h-3 w-36 rounded-lg bg-gray-200 animate-pulse"></div>
      </div>
    </div>
    <div class="space-y-4">
      <div class="flex justify-between items-center text-sm border border-gray-200 rounded-lg px-4 py-2.5">
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 animate-pulse size-12 rounded-lg"></div>
          <div>
            <div class="h-4 w-20 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
            <div class="h-3 w-36 rounded-lg bg-gray-200 animate-pulse"></div>
          </div>
        </div>
        <div class="bg-gray-200 animate-pulse size-7 rounded-full"></div>
      </div>
      <div class="flex justify-between items-center text-sm border border-gray-200 rounded-lg px-4 py-2.5">
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 animate-pulse size-12 rounded-lg"></div>
          <div>
            <div class="h-4 w-20 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
            <div class="h-3 w-36 rounded-lg bg-gray-200 animate-pulse"></div>
          </div>
        </div>
        <div class="bg-gray-200 animate-pulse size-7 rounded-full"></div>
      </div>
      <div class="flex justify-between items-center text-sm border border-gray-200 rounded-lg px-4 py-2.5">
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 animate-pulse size-12 rounded-lg"></div>
          <div>
            <div class="h-4 w-20 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
            <div class="h-3 w-36 rounded-lg bg-gray-200 animate-pulse"></div>
          </div>
        </div>
        <div class="bg-gray-200 animate-pulse size-7 rounded-full"></div>
      </div>
      <div class="flex justify-between items-center text-sm border border-gray-200 rounded-lg px-4 py-2.5">
        <div class="flex items-center gap-2">
          <div class="bg-gray-200 animate-pulse size-12 rounded-lg"></div>
          <div>
            <div class="h-4 w-20 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
            <div class="h-3 w-36 rounded-lg bg-gray-200 animate-pulse"></div>
          </div>
        </div>
        <div class="bg-gray-200 animate-pulse size-7 rounded-full"></div>
      </div>
    </div>
  }
</div>
