<div class="select-none">
  @if (this.totalPages > 1) {
    <ul class="flex items-center justify-center {{ class }}">
      <li (click)="onPageClick(activePage - 1)">
        <a class="px-2.5 bg-yellow-200 dark:bg-yellow-800 h-7 flex items-center rounded ml-2.5 {{ activePage === 1? 'disabled':'cursor-pointer' }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </a>
      </li>
      @if (! pages.includes(1)) {
        <li (click)="onPageClick(1)"><a class="px-2.5 cursor-pointer dark:text-white">{{1}}</a></li>
      }
      @if (! pages.includes(1) && pages[1] - numbersToShow !== 1) {
        <li class="dots dark:text-white">...</li>
      }
      @for (item of pages; track item) {
        <li>
          <a (click)="onPageClick(item)" [ngClass]="{'bg-yellow-200 dark:bg-yellow-800 rounded text-gray-700': activePage === item, 'cursor-pointer': activePage !== item}" class="h-7 flex items-center px-2.5 transition-all dark:text-white">{{item}}</a>
        </li>
      }
      @if (! pages.includes(totalPages) && pages[numbersToShowEdge] + numbersToShow - 1 !== totalPages) {
        <li class="dots dark:text-white">...</li>
      }
      @if (! pages.includes(totalPages)) {
        <li (click)="onPageClick(totalPages)"><a class="px-2.5 cursor-pointer dark:text-white">{{totalPages}}</a></li>
      }
      <li (click)="onPageClick(activePage + 1)">
        <a class="px-2.5 bg-yellow-200 dark:bg-yellow-800 h-7 flex items-center rounded mr-2.5 {{ activePage + 1 > this.totalPages? 'disabled':'cursor-pointer' }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        </a>
      </li>
    </ul>
  }
</div>
