<div class="px-4 mb-6">
  <div class="w-full max-w-lg space-y-4 mx-auto p-6 shadow-[0_0_10px_0_rgba(0,0,0,0.2)] rounded-2xl bg-white">

    <div class="mb-4">
      <button (click)="back()" type="button" class="cursor-pointer flex gap-2 items-center text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
        </svg>
        بازگشت
      </button>
    </div>

    <div class="text-gray-400">
      <div class="mb-4">کد تایید ارسال شده به شماره {{ verifyForm.get('phone')?.value }} را وارد کنید</div>
    </div>
    <form [formGroup]="verifyForm" (ngSubmit)="verify()">
      <div class="mb-4">
        <div class="mb-2">
          <div class="flex justify-between mb-1.5">
            @if (remainingSeconds) {
              <div class="flex text-amber-400 text-md">
              <span class="aspect-square h-5 w-5 rounded-full bg-amber-400/25">
                <svg class="progress-ring" width="20" height="20">
                  <circle
                    #circle
                    class="origin-center transform stroke-current transition-all duration-350 rotate-[-90deg]"
                    stroke-width="2"
                    fill="transparent"
                    r="8" cx="10" cy="10"
                  />
                  </svg>
                </span>
                <span class="inline-flex w-6 justify-end mr-0.5">{{ remainingSeconds }}</span>
                <span class="mr-1.5">ثانیه</span>
              </div>
            } @else {
              <div (click)="getNewCode()"
                   class="flex cursor-pointer items-center text-md text-info-500">
                <button type="button"
                        [disabled]="isResending()"
                        [class.opacity-60]="isResending()"
                        [class.pointer-events-none]="isResending()"
                        class="cursor-pointer flex group items-center">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 50 50"
                       [class.animate-spin]="isResending()"
                       class="size-5">
                    <path class="fill-sky-600 group-hover:fill-sky-700"
                          d="M25 2C12.321124 2 2 12.321124 2 25C2 37.678876 12.321124 48 25 48C37.678876 48 48 37.678876 48 25 A 2.0002 2.0002 0 1 0 44 25C44 35.517124 35.517124 44 25 44C14.482876 44 6 35.517124 6 25C6 14.482876 14.482876 6 25 6C30.475799 6 35.391893 8.3080175 38.855469 12L35 12 A 2.0002 2.0002 0 1 0 35 16L46 16L46 5 A 2.0002 2.0002 0 0 0 43.970703 2.9726562 A 2.0002 2.0002 0 0 0 42 5L42 9.5253906C37.79052 4.9067015 31.727675 2 25 2 z"/>
                  </svg>
                  <span class="mr-2 text-sky-600 group-hover:text-sky-700 text-sm">دریافت مجدد کد</span>
                </button>
              </div>
            }
            <button type="button"
                    (click)="changeNumber()"
                    class="flex group cursor-pointer items-center"
            >
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor" class="size-5 text-gray-500 group-hover:text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
              </svg>

              <span class="text-gray-500 group-hover:text-gray-600 mr-1.5">تغییر شماره</span>
            </button>
          </div>
          <input type="text"
                 formControlName="verification_code"
                 mask="000000"
                 [inputTransformFn]="p2e"
                 name="verification_code"
                 id="verification_code"
                 dir="ltr"
                 placeholder="کد تایید ۶ رقمی"
                 class="block w-full rounded border border-gray-300 bg-gray-50 text-center text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white [direction:ltr] dark:focus:border-blue-500 dark:focus:ring-blue-500">
        </div>
        <app-error-display [control]="verifyForm.get('verification_code')"></app-error-display>
        @if (statusError) {
          <div class="text-xs font-medium text-red-500">{{ statusError }}</div>
        }
      </div>
      <div class="mt-2.5">
        <app-button-with-loader [loading]="submitting()"
                                [disabled]="submitting()"
                                type="submit"
                                class="relative block"
                                loading_bg="bg-yellow-200"
                                classes="bg-yellow-300 rounded w-full py-2.5">
          <span class="text-base font-bold text-white ml-2.5">تایید</span>
          <svg class="w-4" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.42732 1.21973L1 7.64701L7.42732 14.0743" stroke="#FFFFFF" stroke-width="2"
                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.0009 7.64712H1.18018" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </app-button-with-loader>
      </div>
    </form>

    @if (state && state.force_otp) {
      <div class="text-center">
        <button (click)="loginByPassword()"
                type="button"
                class="cursor-pointer text-sky-500 text-sm inline-flex transition-all duration-300"
        >
          ورود با رمز عبور
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5">
            <path class="fill-sky-500"
                  d="M9.929,12l3.821-3.821c0.414-0.414,0.414-1.086,0-1.5l0,0c-0.414-0.414-1.086-0.414-1.5,0l-4.614,4.614 c-0.391,0.391-0.391,1.024,0,1.414l4.614,4.614c0.414,0.414,1.086,0.414,1.5,0h0c0.414-0.414,0.414-1.086,0-1.5L9.929,12z"/>
          </svg>
        </button>
      </div>
    }
  </div>
</div>
