<div class="px-4 mb-6">
  <div class="w-full max-w-lg mx-auto p-6 shadow-[0_0_10px_0_rgba(0,0,0,0.2)] rounded-2xl bg-white">

    <div class="space-y-8 text-center">
      <div class="mb-6 flex justify-center">
        <img src="./assets/images/0209db21ca55d3fd729785d42c16cdb33133d7c6.png" class="w-44" alt="">
      </div>
      <div class="space-y-2.5">
        <div class="font-semibold text-xl">{{ stepTitle }}</div>
        <div class="text-gray-600">{{ stepMsg }}</div>
      </div>
    </div>

  </div>
</div>
