<div class="px-4 mb-6">
  <div class="w-full max-w-lg mx-auto p-6 shadow-[0_0_10px_0_rgba(0,0,0,0.2)] rounded-2xl bg-white">
    <div class="mb-4">
      <button (click)="back()" class="flex gap-2 items-center text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
        </svg>
        بازگشت
      </button>
    </div>

    <form [formGroup]="loginByPasswordForm" class="mx-auto w-full">

      <div class="mb-4">
        <div class="mb-2">
          <label for="mobile" class="mb-2 block text-sm font-medium text-gray-400 dark:text-white">رمز عبور خود
            را وارد کنید</label>
          <input type="password"
                 formControlName="password"
                 id="mobile"
                 placeholder="رمز عبور"
                 (keydown.enter)="loginByPassword()"
                 class="block w-full rounded border border-gray-300 bg-gray-50 text-sm text-gray-900 p-2.5 focus:border-blue-500 focus:ring-blue-500 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:focus:border-blue-500 dark:focus:ring-blue-500"/>
        </div>
        <app-error-display [control]="loginByPasswordForm.get('password')"></app-error-display>
        @if (statusError) {
          <!-- مربوط به پیغام غیر فعال بودن حساب کاربری -->
          <div class="text-xs font-medium text-red-500">{{ statusError }}</div>
        }
      </div>

      <div class="mb-4">
        <button (click)="forgotPassword()" type="button"
                class="cursor-pointer text-sky-500 text-sm inline-flex">
          فراموشی رمز عبور
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5">
            <path class="fill-sky-500"
                  d="M9.929,12l3.821-3.821c0.414-0.414,0.414-1.086,0-1.5l0,0c-0.414-0.414-1.086-0.414-1.5,0l-4.614,4.614 c-0.391,0.391-0.391,1.024,0,1.414l4.614,4.614c0.414,0.414,1.086,0.414,1.5,0h0c0.414-0.414,0.414-1.086,0-1.5L9.929,12z"/>
          </svg>
        </button>
      </div>

      <div class="mb-4">
        <app-button-with-loader class="relative block"
                                classes="bg-yellow-300 rounded w-full py-2.5"
                                loading_bg="bg-yellow-200"
                                [loading]="submitting"
                                [disabled]="submitting"
                                (clicked)="loginByPassword()">
          <span class="text-base font-bold text-white ml-2.5">ادامه</span>
          <svg class="w-4" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.42732 1.21973L1 7.64701L7.42732 14.0743" stroke="#FFFFFF" stroke-width="2"
                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19.0009 7.64712H1.18018" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10"
                  stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </app-button-with-loader>
      </div>

      <div class="text-xs mb-4">ورود شما به معنای پذیرش شرایط طلای ژیک و <a routerLink="/" class="text-sky-400">قوانین
        و
        مقررات</a> است
      </div>

      <div class="text-center">
        <button (click)="loginByOtp()" type="button"
                [disabled]="otpLoading"
                class="cursor-pointer text-sky-500 text-sm inline-flex transition-all duration-300"
        >
          ورود با کد یک‌بار مصرف
          @if (otpLoading) {
            <div role="status" class="mr-2">
              <svg aria-hidden="true" class="w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
          } @else {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5">
              <path class="fill-sky-500"
                    d="M9.929,12l3.821-3.821c0.414-0.414,0.414-1.086,0-1.5l0,0c-0.414-0.414-1.086-0.414-1.5,0l-4.614,4.614 c-0.391,0.391-0.391,1.024,0,1.414l4.614,4.614c0.414,0.414,1.086,0.414,1.5,0h0c0.414-0.414,0.414-1.086,0-1.5L9.929,12z"/>
            </svg>
          }
        </button>
      </div>
    </form>
  </div>
</div>
